<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Categories</th>
          <th>Products</th>
          <th width="10">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td>
              <h4><%= category.name %></h4>
            </td>
            <td>
              <% category.products.order(created_at: :desc).each do |product| %>
                <p><%= product.name %></p>
              <% end %>
            </td>
            <td>
              <% if category.products.length == 0 %>
                <%= link_to fa_icon('trash'), [:admin, category], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</section>
